<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Abhudaya Sandilya</title>

    <link rel="icon"
        href="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/PPs/Abhudaya.jpg?raw=true"
        type="image/x-icon" />
    <!-- <link rel="stylesheet" href="css\extrastyle.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='extrastyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css') }}">
</head>

<body style="font-family:ubuntu;">
    <br><br><br><br>
    <div class="container-md">
        <div class="row">

            <div class="col-md-4 align-items-center">
                <img src="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/PPs/Abhudaya.jpg?raw=true"
                    alt="Abinash Panda" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
            </div>
            <div class="col-md-8 align-items-center">
                <h1>Abhudaya Sandilya</h1>
                <p>Abhudaya Sandilya is a student of Computer Science and Engineering at Kalinga Institute of Industrial
                    Technology, Bhubaneswar.
                    He is a web developer and a competitive programmer.
                </p>
                <a style="color:rgb(79, 79, 79)"
                    href="https://drive.google.com/file/d/1UQgOoexr8t6Ee-frUglDNQ72XQx3HoFI/view"
                    target="_blank"><i class="fas fa-file-lines"></i> Resume</a><br>
                <a style="color:rgb(79, 79, 79)" href="https://www.facebook.com/abhudaya.sandilya.9?mibextid=ZbWKwL" target="_blank"><i
                        class="fab fa-facebook"></i> Abhudaya Sandilya</a><br>
                <a style="color:rgb(79, 79, 79)" href="https://instagram.com/thesandilya?igshid=ZDdkNTZiNTM=" target="_blank"><i
                        class="fab fa-instagram"></i> thesandilya<br></a>
                <a style="color:rgb(79, 79, 79)" href="https://twitter.com/AbhudayaSandil1?t=Nb0NBh74_uUU6qFstRORfQ&s=08" target="_blank"><i
                        class="fab fa-twitter"></i> Abhudaya Sandilya<br></a>
                <a style="color:rgb(79, 79, 79)" href="https://www.linkedin.com/in/abhudaya-sandilya-0679b8234" target="_blank"><i
                        class="fab fa-linkedin"></i> Abhudaya Sandilya<br></a>
                <a style="color:rgb(79, 79, 79)" href="https://github.com/AbhudayaSandilya" target="_blank"><i
                        class="fab fa-github"></i> thesandilya<br></a>

            </div>
        </div>
    </div>
    <!-- Start your project here-->


    <!-- End your project here-->
    <script src="https://code.iconify.design/iconify-icon/1.0.4/iconify-icon.min.js"></script>
    <!-- MDB -->
    <!-- <script type="text/javascript" src="js/mdb.min.js"></script> -->
    <script src="{{ url_for('static', filename='mdb.min.js') }}"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
</body>

</html>