<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Ankit Parira</title>

    <link rel="icon" href="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/PPs/Ankit.jpg?raw=true" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='extrastyle.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css') }}">
  </head>

  <body style="font-family: 'Ubuntu', sans-serif;">
    <br><br><br><br>
    <div class="container-md">
        <div class="row">
            
            <div class="col-md-4 align-items-center">
            <img src="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/PPs/Ankit.jpg?raw=true" alt="Ankit Parira" class="img-fluid rounded-circle" style="width: 200px; height: 200px;">
            </div>
            <div class="col-md-8 align-items-center">
            <h1>Ankit Parira</h1>
            <p>Ankit Parira is a student of Computer Science and Engineering at Kalinga Institute of Industrial Technology, Bhubaneswar. 
                He is a web developer and a competitive programmer.
            </p>
            <a style= "color:rgb(79, 79, 79)"href="https://drive.google.com/file/d/1LE1o-_ndD-dtvdAnFskWlgniascAT5D1/view?usp=share_link"target="_blank"><i class="fas fa-file-lines"></i> Resume</a><br>
            <a style= "color:rgb(79, 79, 79)" href="https://www.instagram.com/ankitparira98/"target="_blank"><i class="fab fa-instagram"></i> Ankit Parira<br></a>
            <a style= "color:rgb(79, 79, 79)" href="https://twitter.com/AnkitParira"target="_blank"><i class="fab fa-twitter"></i> Ankit Parira<br></a>
            <a style= "color:rgb(79, 79, 79)" href="https://www.linkedin.com/in/ankit-parira-480046237/"target="_blank"><i class="fab fa-linkedin"></i> Ankit Parira<br></a>
            <a style= "color:rgb(79, 79, 79)" href="https://github.com/Ankit-Parira"target="_blank"><i class="fab fa-github"></i> Ankit-Parira<br></a>
            <a style= "color:rgb(79, 79, 79)" href="https://leetcode.com/ANKIT_PARIRA/" target="_blank"><iconify-icon icon="simple-icons:leetcode"></iconify-icon> Ankit Parira<br></a>
            
            </div>
        </div>
    </div>
    <!-- Start your project here-->


    <!-- End your project here-->
    <script src="https://code.iconify.design/iconify-icon/1.0.4/iconify-icon.min.js"></script>
    <!-- MDB -->
    <script src="{{ url_for('static', filename='mdb.min.js') }}"></script>
    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
