<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Book Recommender</title>

    <link rel="icon" href="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/webIcon.png?raw=true" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="extrastyle.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='extrastyle.css') }}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <!-- MDB -->
    <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css') }}">

  </head>

  <body>
    <!-- Navbar -->
    <div>
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
      
          <!-- Navbar brand -->
          <a class="navbar-brand" href="#"><img src="https://github.com/theabinashpanda/MinorProject_Btech/blob/main/templates/webIcon.png?raw=true" alt="" style="width:30px; height:30px;"> Book Guide</a>
      
          <!-- Toggle button -->
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
      
          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
              <!-- Link -->
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
      
              <!-- Dropdown -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                  Contributors
                </a>
                <!-- Dropdown menu -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="Abinash.html" target="_blank">Abinash Panda</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Another action</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
      
            </ul>
      
          </div>
        </div>
        <!-- Container wrapper -->
      </nav>
    </div>
<!-- Navbar -->
  <!-- Background image -->
  <div
  class=""
  style="
    /* background-image: url('https://cdn.dribbble.com/userupload/4255581/file/original-1fd420b4be457443d40d7d73338fe172.jpg?compress=1&resize=1905x1248');
    height: 100vh; */
    background-size: cover;
    margin-top: 5%;
    background-color: black;
  ">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white" style="font-size:50px">Top 50 Books</h1>
        </div>

        {% for i in range(book_name|length) %}
            <div class="col-md-3" style="margin-top:50px ">
                <div class="card" style="background-color: black">
                    <div class="card-body">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <h4 class="text-white">{{ book_name[i] }}</h4>
                        <h4 class="text-white">{{ author[i] }}</h4>
                        <h4 class="text-white">Votes - {{ votes[i] }}</h4>
                        <h4 class="text-white">Rating - {{ rating[i] }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>
  <div class="container">
    <div class="d-flex align-items-center justify-content-evenly" style="height: 740px; width:1150px;">
    </div>
  </div>
  </div>
  
  <div id="root"></div>
<!-- Background image -->
    <!-- Start your project here-->


    <!-- End your project here-->

    <!-- MDB -->
    <!-- <script type="text/javascript" src="js/mdb.min.js"></script> -->
    <script src="{{ url_for('static', filename='mdb.min.js') }}"></script>

    <!-- Custom scripts -->
    <script type="text/javascript"></script>
  </body>
</html>
